@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* --bs-border-radius: 0.175rem; */
  --bs-border-color: #b8bdc9;
}

body {
  background-color: #f3f3fe;
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
}

.box {
  width: 100%;
  max-width: 1200px;
  margin: 2.5rem auto;
}

.box2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  table {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  table {
    font-size: 12px;
  }
}

.text-orange {
  color: #F25814;
}

.form-label {
  font-weight: 400;
}

.form-control {
  --bs-border-radius: 0.175rem;
  font-weight: 300;
  font-size: 15px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.175rem rgba(13, 110, 253, 0.25);
}

.form-select {
  --bs-border-radius: 0.175rem;
}

.form-select:focus {
  box-shadow: 0 0 0 0.175rem rgba(13, 110, 253, 0.25);
}

.map {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* Signup Page */
.main {
  /* padding: 150px 0; */
}

.signup {
  padding: 150px 0;
  /* background-color: #fff; */
}

.signup-content {
  padding: 75px 0;
  background-color: #fff;
  border-radius: 20px;
}

.signup-form {
  /* margin-left: 75px;
  margin-right: 75px; */
  padding-left: 34px;
}