@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* --bs-border-radius: 0.175rem; */
  --bs-border-color: #b8bdc9;
  --bs-indigo-rgb: #6610f2;
  --bs-purple-rgb: #6f42c1;
  --bs-pink-rgb: #e83e8c;
}

body {
  background-color: #f3f3fe;
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
}

.box {
  width: 100%;
  max-width: 1200px;
  margin: 2.5rem auto;
}

.box2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  table {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  table {
    font-size: 12px;
  }
}

.text-orange {
  color: #fd7e14 !important;
}

.text-indigo {
  color: #6610f2 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.text-pink {
  color: #e83e8c !important;
}

.bg-indigo {
  --bs-bg-opacity: 1;
  background-color: var(--bs-indigo-rgb) !important;
}

.bg-purple {
  --bs-bg-opacity: 1;
  background-color: var(--bs-purple-rgb) !important;
}

.bg-pink {
  --bs-bg-opacity: 1;
  background-color: var(--bs-pink-rgb) !important;
}

.btn-indigo {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6610f2;
  --bs-btn-border-color: #6610f2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #570ecc;
  --bs-btn-hover-border-color: #510cc0;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #510cc0;
  --bs-btn-active-border-color: #460ba6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6610f2;
  --bs-btn-disabled-border-color: #6610f2;
}

.navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.form-label {
  font-weight: 400;
}

.form-control {
  --bs-border-radius: 0.175rem;
  font-weight: 300;
  font-size: 15px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.175rem rgba(13, 110, 253, 0.25);
}

.form-select {
  --bs-border-radius: 0.175rem;
}

.form-select:focus {
  box-shadow: 0 0 0 0.175rem rgba(13, 110, 253, 0.25);
}

.map {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.img-profile {
  /* padding: 0.1rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto; */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5) !important;
}

/* Signup Page */
.main {
  /* padding: 150px 0; */
}

.signup {
  padding: 150px 0;
  /* background-color: #fff; */
}

.signup-content {
  padding: 75px 0;
  background-color: #fff;
  border-radius: 20px;
}

.signup-form {
  /* margin-left: 75px;
  margin-right: 75px; */
  padding-left: 34px;
}